html { height: 100%; }
body { 
    height: 100%; 
    background-color: rgba(212, 212, 212, 0.61) !important;
}
#root{
    min-height: 100%;
}
#hdr{
    font-size: 36px;
    color: rgb(0, 53, 0);
    font-family: 'Rubik', sans-serif;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(13, 109, 4) !important;
}
#logo{
    width: 650px;
}
#nav-button{
    width: 3em !important;
    height: 3em !important;
}
#unauth::before{
    filter: blur(10px);
}
#unauth{
    background-image: url('./images/default-bkg.jpg');
    /* filter: blur(2px); */
    background-size: cover;
    position: absolute;
    top: 135px; right: 0; bottom: 0; left: 0;
    text-align: center;
    font-size: 32px;
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.877);
}
#main{
    position: relative;
    color: white;
    font-size: 32px;
}
#chart{
    background-color:rgba(234, 241, 168, 0.377);
    box-shadow: 0 0 10px rgb(54, 54, 54);
    height: 350px;
    /* padding: 25px; */
}
#chart-data{
    background-color: rgba(172, 255, 47, 0.349);
    box-shadow: 0 0 10px rgb(54, 54, 54);
}
#chart-table{
    background-color: rgb(16, 190, 0);
    color: black;
}
#accounts{
    background-color:rgba(42, 192, 22, 0.281);
    /* background-image: linear-gradient(to right,rgba(224, 224, 224, 0.555), #ffffff, rgba(226, 226, 226, 0.541)); */
    height: 350px;
    box-shadow: 0 0 10px rgb(54, 54, 54);
    /* padding: 5%; */
}
#acct-head{
    text-align: center !important;
    background-image:linear-gradient(rgba(183, 236, 37, 0.5),rgba(224, 224, 224, 0.397),rgba(183, 236, 37, 0.5));
}
.acct-row{
    background-image:linear-gradient(rgba(201, 201, 201, 0.589),rgba(224, 224, 224, 0.397),rgba(201, 201, 201, 0.637));
}
#earnings{
    background-color:rgba(234, 241, 168, 0.377);
    /* background-image: linear-gradient(rgba(8, 78, 5, 0.973), #09c729); */
    height: 250px;
    box-shadow: 0 0 10px rgb(54, 54, 54);
    display:inline-block;
}
#expenses{
    background-color:rgba(234, 241, 168, 0.377);
    /* background-image: linear-gradient(red, #f06d06); */
    height: 250px;
    box-shadow: 0 0 10px rgb(54, 54, 54);
    display:inline-block;
}
.row-center{
    text-align:center;
}


/* Small Desktops */
@media screen and (max-width: 1300px) {
    #logo{
        width: 400px;
    }
    #hdr{
        font-size: 28px;
    }
    #unauth{
        top: 93px;
    }
}
/* Tablet formatting */
@media screen and (max-width: 766px) {
    #logo{
        width: 300px;
    }
    #nav-button{
        width: 2em !important;
        height: 2em !important;
    }
    #unauth{
        top: 76px;
    }
}
/* Mobile Formatting */
@media screen and (max-width: 450px) {
    #logo{
        width: 200px;
    }
    #hdr{
        font-size: 18px;
    }
    #unauth{
        top: 66px;
    }
}
@media screen and (min-width: 1300px) {
    #chart { height: 450px; }
    #accounts { height: 450px; }
    #earnings { height: 300px; }
    #expenses { height: 300px; }
}