html { height: 100%; }
body { 
    height: 100%; 
    background-color: rgba(212, 212, 212, 0.61) !important;
}
#root{
    min-height: 100%;
}
#hdr{
    height: 150px;
    font-size: 36px;
    color: rgb(0, 53, 0);
    font-family: 'Rubik', sans-serif;
}
nav{
    background-color: rgb(182, 182, 182);
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(13, 109, 4) !important;
}
#logo{
    width: 650px;
}
#nav-button{
    width: 3em !important;
    height: 3em !important;
}
#main{
    color: white;
    font-size: 32px;
}
#chart{
    background-color:rgb(164, 230, 10);
    height: 350px;
    /* padding: 25px; */
}
#accounts{
    background-color:rgb(13, 122, 117);
    height: 350px;
    /* padding: 5%; */
}
#earnings{
    background-color:rgb(64, 167, 103);
    height: 250px;
}
#expenses{
    background-color:rgb(255, 107, 21);
    height: 250px;
}

/*### Mobile Formatting ###*/
@media screen and (max-width: 1300px) {
    #logo{
        width: 400px;
    }
    #hdr{
        font-size: 28px;
    }
}
@media screen and (max-width: 766px) {
    #hdr{
        height: 100px;
    }
    #logo{
        width: 300px;
    }
    #nav-button{
        width: 2em !important;
        height: 2em !important;
    }
}
@media screen and (max-width: 450px) {
    #logo{
        width: 200px;
    }
    #hdr{
        height: 75px;
    }
}
@media screen and (min-width: 1300px) {
    #chart { height: 450px; }
    #accounts { height: 450px; }
    #earnings { height: 300px; }
    #expenses { height: 300px; }
}